# -*- mode: ruby -*-
# vi: set ft=ruby :

def salt_provision_zabbix_agent_box(context)
  context.vm.provision "salt", run: 'once' do |salt|
    salt.minion_config = "salt/etc/minion"
    salt.masterless = true
    salt.run_highstate = false
    salt.verbose = true
    salt.log_level = "info"
    salt.colorize = true
    salt.install_type = "git"
    salt.version = "3002.2"
    salt.python_version = "3"
    salt.bootstrap_options = "-P -x python3 -c /tmp"
  end
end

Vagrant.configure("2") do |config|

  config.vagrant.plugins = ["vagrant-reload", "vagrant-scp"]

  config.vm.define "zabbix-agent-box" do |zabbix_agent_box|
    zabbix_agent_box.vm.box = "opensuse/Leap-15.2.aarch64"
    zabbix_agent_box.vm.hostname = "zabbix-agent-box"

    zabbix_agent_box.vm.provider "libvirt" do |v, override|
      override.vagrant.plugins = config.vagrant.plugins + ["vagrant-libvirt"]
      v.cpus = "2"
      v.cputopology sockets: "1", cores: "2", threads: "1"
      v.memory = "1024"
      v.disk_bus = "virtio"
      v.nic_model_type = "virtio-net-pci"
      v.nested = false
      v.graphics_type = "vnc"
      v.machine_arch = "aarch64"
      v.driver = "kvm"
      v.autostart = false
      v.storage_pool_name = "default"

      override.vm.provision 'shell', run: 'once', inline: 'echo "send host-name \"zabbix-agent-box\";" >> /etc/dhclient.conf', privileged: true
      override.vm.provision 'shell', run: 'once', inline: 'zypper install -y -t pattern devel_basis', privileged: true
      override.vm.provision 'shell', run: 'once', inline: 'zypper install -y python3 python3-pip python3-setuptools python3-devel python3-virtualenv python3-pyzmq-devel', privileged: true
      salt_provision_zabbix_agent_box override
      override.vm.provision 'reload'
    end

    zabbix_agent_box.vm.synced_folder "salt/roots/", "/srv/", type: "rsync"
    zabbix_agent_box.vm.synced_folder '.', '/vagrant', disabled: true
  end
end
